section.about-wrapper(setbackground="./img/home/h-1/background.png")
    .container
        .main-title
            h2 công ty tnhh giải pháp kĩ thuật lê dương
        .content
            p Là công ty cung cấp các giải pháp kỹ thuật cơ điện tử công nghiệp và dân dụng, sử dụng sức</br> mạnh kết hợp của kỹ thuật cơ khí, kỹ thuật điện tử và kỹ thuật máy tính xây dựng các giải pháp</br> kỹ thuật chìa khóa trao tay sáng tạo, hiệu quả, giải quyết nhu cầu thiết kế, chế tạo và lắp đặt</br> hoàn thiện các hệ thống sản xuất tự động hóa, hệ thống máy móc phục vụ đời sống
        .row.box-right
            .col-lg-4
                .image
                    img(src="./img/home/h-1/about.png", alt="")
            .col-lg-8
                .box-wrapper
                    .title
                        a(href="#") sứ mệnh
                    .content-wrapper
                        p Trở thành nhà phát triển giải pháp và cung ứng sản phẩm có giá trị chất lượng vượt trội mang đến sự hài lòng cho khách hàng.
                .box-wrapper
                    .title
                        a(href="#") sứ mệnh
                    .content-wrapper
                        p Trở thành nhà phát triển giải pháp và cung ứng sản phẩm có giá trị chất lượng vượt trội mang đến sự hài lòng cho khách hàng.