section.commercial-wrapper
    .container
        .main-title
            h2 commercial
        .banner
            img(src="./img/giaiphap/banner/banner2.png", alt="")
        .row.wrapper
            .col-lg-6
                .content-wrapper
                    .title
                        h3 cung cấp những gì ?
                    .content
                        em.mdi.mdi-check
                        p LeDuong hướng đến các giải pháp để nâng cao tiện ích và hiệu quả trong hoạt động sản xuất cũng như đời sống của con người.
                    .content
                        em.mdi.mdi-check
                        p Nghiên cứu, thúc đẩy và góp phần đưa công nghệ vào đời sống, dựa trên nền tảng các tiến bộ công nghệ hiện nay như tự động hóa, dữ liệu đám mây, trí tuệ nhân tạo, IoT, in 3D, v.v...cùng hướng đến xây dựng nền kinh tế bền vững.
            .col-lg-6
                .image
                    img(src="./img/giaiphap/commercial/image1.png", alt="")
        .row.wrapper
            .col-lg-6
                .content-wrapper
                    .title
                        h3 cung cấp những gì ?
                    .content
                        em.mdi.mdi-check
                        p LeDuong hướng đến các giải pháp để nâng cao tiện ích và hiệu quả trong hoạt động sản xuất cũng như đời sống của con người.
                    .content
                        em.mdi.mdi-check
                        p LeDuong hướng đến các giải pháp để nâng cao tiện ích và hiệu quả trong hoạt động sản xuất cũng như đời sống của con người.
            .col-lg-6
                .image
                    img(src="./img/giaiphap/commercial/image1.png", alt="")