section.doitac
    .container
        .main-title
            h2 đối tác
        .slider
            .swiper-container
                .swiper-wrapper
                    - for(i=1;i<7;i++)
                        .swiper-slide
                            a(href="#")
                                .image
                                    img(src="./img/home/h-4/doitac.png", alt="")
            .swiper-prev
                em.lnr.lnr-arrow-left
            .swiper-next
                em.lnr.lnr-arrow-right