section.about
    .container
        .row.box-wrapper
            .col-lg-6.box-first
                .main-title
                    h2 nền tảng của leduong
                .content
                    p LEDUONG được thành lập dựa trên đội kỹ sư có nhiều năm kinh</br> nghiệm trong việc thiết kế và chế tạo dây chuyền sản xuất, dây </br>chuyền lắp ráp tự động, hệ thống cung cấp nguyên nhiên liệu, hệ</br> thống tay máy, với các dự án như: hệ thống thay vỏ lốp tự động, dây</br> chuyền cán và định hình kim loại, hệ thống bơm nước làm mát, hệ</br> thống bồn chứa và cung cấp hóa chất nhiên liệu, dây chuyền chiết rót,</br> máy đóng gói, hệ thống phun keo tự động hóa, thiết bị đo đếm lưu</br> lượng khí, thiết bị kiểm tra.
            .col-lg-6.box-last
                .image
                    img(src="./img/about/about1.png", alt="")
        .row.box-wrapper
            .col-lg-6.box-first
                .main-title
                    h2 nền tảng của leduong
                .content
                    p LEDUONG được thành lập dựa trên đội kỹ sư có nhiều năm kinh</br> nghiệm trong việc thiết kế và chế tạo dây chuyền sản xuất, dây </br>chuyền lắp ráp tự động, hệ thống cung cấp nguyên nhiên liệu, hệ</br> thống tay máy, với các dự án như: hệ thống thay vỏ lốp tự động, dây</br> chuyền cán và định hình kim loại, hệ thống bơm nước làm mát, hệ</br> thống bồn chứa và cung cấp hóa chất nhiên liệu, dây chuyền chiết rót,</br> máy đóng gói, hệ thống phun keo tự động hóa, thiết bị đo đếm lưu</br> lượng khí, thiết bị kiểm tra.
            .col-lg-6.box-last
                .image
                    img(src="./img/about/about1.png", alt="")
        .row.box-wrapper
            .col-lg-6.box-first
                .main-title
                    h2 nền tảng của leduong
                .content
                    p LEDUONG được thành lập dựa trên đội kỹ sư có nhiều năm kinh</br> nghiệm trong việc thiết kế và chế tạo dây chuyền sản xuất, dây </br>chuyền lắp ráp tự động, hệ thống cung cấp nguyên nhiên liệu, hệ</br> thống tay máy, với các dự án như: hệ thống thay vỏ lốp tự động, dây</br> chuyền cán và định hình kim loại, hệ thống bơm nước làm mát, hệ</br> thống bồn chứa và cung cấp hóa chất nhiên liệu, dây chuyền chiết rót,</br> máy đóng gói, hệ thống phun keo tự động hóa, thiết bị đo đếm lưu</br> lượng khí, thiết bị kiểm tra.
            .col-lg-6.box-last
                .image
                    img(src="./img/about/about1.png", alt="")