section.giaiphap
    .container
        .main-title
            h2 giải pháp
        .row
            .col-lg-8.box-wrapper
                .image
                    img(src="./img/home/h-3/giaiphap1.png", alt="")
                .content-wrapper
                    .img-background
                        img(src="./img/home/h-3/background.png", alt="")
                    .title
                        h3 industrial
                    .content
                        p Cung cấp thiết bị, các cụm thiết bị công nghệ cho các nhà máy công nghiệp.
                    .button
                        a(href="#") xem chi tiết
            - for(i=1;i<5;i++)
                .col-lg-4.box-wrapper
                    .image
                        img(src="./img/home/h-3/giaiphap2.png", alt="")
                    .content-wrapper
                        .title
                            h3 industrial
                        .button
                            a(href="#") xem chi tiết