extends _layout.pug

block var
	- var title = 'Giải pháp'
	- var bodyClass = 'home-page'

block main
	include ../components/giaiphap/banner/index.pug
	include ../components/home/h-3/index.pug
	include ../components/giaiphap/giaiphap.pug