section.home-banner
    .swiper-container
        .swiper-wrapper
            - for(i=1;i<8;i++)
                .swiper-slide
                    a(href="#")
                        .image
                            img(src="./img/home/banner/banner1.png", alt="")
                        .box-wrapper
                            .title
                                h2 leduong technology
                            .content
                                p Đối tác đáng tin cậy của các doanh nghiệp
                            .button
                                a(href="#") xem thêm
                                em.lnr.lnr-arrow-right