header.header
    .container
        .header-wrapper
            .logo
                .image
                    img(src="./img/header/logo.png", alt="")
            .header-top
                .nav-top
                    ul.nav
                        li
                            a(href="#") Technical media channel
                        li
                            a(href="#") Liên hệ
                    .hotline
                        a(href="#")
                            em.mdi.mdi-phone-in-talk    
                            p 028 7307 6661
                    .search-box
                        input(type="text", placeholder="Tìm kiếm")
                        em.material-icons search
                    .language
                        a(href="#")
                            .image
                                img(src="./img/header/icon.png", alt="")
                            p VN
                    .button-toggle
                        .button
            .header-bottom
                .nav-bottom
                    ul
                        li.active
                            a(href="") Trang chủ
                        li
                            a(href="#") giới thiệu
                        li
                            a(href="#") giải pháp
                        li
                            a(href="#") sản phẩm & dịch vụ
                        li
                            a(href="#") hỗ trợ kỹ thuật
                        li
                            a(href="#") hỗ trợ mua hàng
        .nav-mobile
        .back-drop