section.tuvan-wrapper(setbackground="./img/footer/background-tuvan.png")
    .container
        .title
            h2 đăng ký nhận tư vấn
        .row
            .col-lg-8
                .form
                    .wrap-form
                        .row
                            .col-lg-4.form-group
                                label(for="") Họ & tên
                                    span (*)
                                input(type="text", name="")
                            .col-lg-4.form-group
                                label(for="") Email
                                    span (*)
                                input(type="text", name="")
                            .col-lg-4.form-group
                                label(for="") Số điện thoại
                                    span (*)
                                input(type="text", name="")
                            .col-12.form-content    
                                label(for="") Nội dung
                                textarea(name="", cols="30", rows="10")
                            .col-3.submit
                                input(type="submit", value="Gửi")
                                em.lnr.lnr-arrow-right
footer
    .footer-wrapper(setbackground="./img/footer/background-footer.png")
        .container
            .row
                .col-md-5
                    .title
                        h2 công ty tnhh giải pháp kỹ thuật lê dương
                    .location
                        em.mdi.mdi-map-marker
                        p Phòng 514, Toà nhà Sacom Chip Sáng, Lô T2-4 đường D1,</br> Khu Công Nghệ Cao, P. Tân Phú, Q. 9, TP.HCM
                    .contact
                        em.mdi.mdi-email-outline
                        p contact@leduongtech.com
                    .hotline
                        em.mdi.mdi-phone-in-talk
                        p (+84) 28 7307 6661
                .col-md-4
                    .title
                        h2 liên kết nhanh
                    ul.nav-footer
                        li
                            a(href="#") Giới thiệu
                        li
                            a(href="#") Giải pháp
                        li
                            a(href="#") Sản phẩm & dịch vụ
                        li
                            a(href="#") Hỗ trợ kĩ thuật
                        li
                            a(href="#") Hỗ trợ mua hàng
                        li
                            a(href="#") Technical media channel
                        li
                            a(href="#") Liên hệ
                .col-md-3
                    .title
                        h2 liên kết với chúng tôi
                    .social
                        .icon.facebook
                            a.fab.fa-facebook-f(href="#")
                        .icon.youtube
                            a.fab.fa-youtube(href="")
                        .icon.twitter
                            a.fab.fa-twitter(href="")
    .footer-bottom
        .container
            .content
                .left
                    p 2020 © LEDUONG TECHNOLOGY. Thiết kế website bởi Cánh Cam.
                .right
                    ul
                        li
                            a(href="#") Điều khoản và điều kiện
                        li
                            a(href="#") Chính sách bảo mật