.tuvan-wrapper
    padding: 5rem 2rem
    .title
        h2
            text-transform: uppercase
            font-weight: 700
            font-size: 3.4rem
            color: #ffffff
    .form
        margin-top: 5rem
        padding: 0 1rem
        .form-group
            font-size: 1.4rem
            color: #fff
            margin-bottom: 3rem
            label
                margin-bottom: 1.5rem
                font-size: 16px
            input
                background: #fff
                opacity: .8
                width: 100%
                height: 5rem
                border: none
                outline: none
                font-size: 16px
            textarea
                background: #fff
                opacity: .8
                font-size: 16px
        .wrap-form
            .frm-btnwrap
                width: 20rem
                height: 4.5rem
                position: relative
                &::before
                    content: '\e87a'
                    font-family: Linearicons-Free
                    position: absolute
                    top: 50%
                    transform: translateY(-50%)
                    right: 5rem
                    font-weight: 600
                    color: #ffffff
                    font-size: 1.4rem
                .frm-btn-submit
                    display: flex
                    justify-content: center
                    align-items: center
                    background: #3d7bff
                    padding: 1rem 0
                    width: 100%
                    height: 100%
                    border: none
                    color: #fff
                    opacity: 1
                    margin-left: -.5rem
.footer-wrapper
    padding: 5rem 0
    .title
        h2
            font-size: 1.6rem
            color: #ffffff
            font-weight: 800
            text-transform: uppercase
            margin: 3rem 0 2rem 0
    .location,.contact,.hotline
        display: flex
        color: #fff
        font-size: 16px
        line-height: 3rem
        font-weight: 300
        em
            margin-right: 2rem
    .nav-footer
        li
            color: #fff
            font-size: 16px
            line-height: 3rem
            font-weight: 300
            margin: 1.5rem 0
            &:first-child
                margin-top: 0
            
    .social
        display: flex
        .icon
            width: 3.5rem
            height: 3.5rem
            color: #ffffff
            display: flex
            justify-content: center
            align-items: center
            margin: 3rem 1rem
            &:first-child
                margin-left: 0
        .facebook
            background: #3853a1
            a    
                width: 100%
                height: 100%
                display: flex
                justify-content: center
                align-items: center
        .youtube
            background: #de4625
            a    
                width: 100%
                height: 100%
                display: flex
                justify-content: center
                align-items: center
        .twitter
            background: #00a7f7
.footer-bottom
    margin: 1rem 0
    .content
        display: flex
        flex-direction: column
        .left
            font-size: 1.2rem
            text-align: center
        .right
            ul
                display: flex
                justify-content: center
                li
                    font-size: 1.2rem
                    margin: 1rem
                    &:first-child
                        margin-left: 0
                        position: relative
                        &::before
                            position: absolute
                            content: ''
                            top: 50%
                            transform: translateY(-50%)
                            right: -1rem
                            width: .1rem
                            height: 1.5rem
                            background: #000
                    &:last-child
                        margin-right: 0
@media (min-width: 768px)
    .footer-wrapper
        .title
            h2
                margin: 0 0 2.5rem 0
        .nav-footer
            margin-top: 2.5rem
        .social
            .icon
                margin: 1rem
    .footer-bottom
        .content
            flex-direction: row
            justify-content: space-between
            .right
                ul
                    li
                        margin: 0 1rem
@media (min-width: 1025px)
    .tuvan-wrapper
        padding: 5rem 0
        .form
            margin-top: 5rem
            padding: 0 1rem
            .wrap-form
                .frm-btnwrap
                    .frm-btn-submit
                        margin-left: -.5rem
                        &:hover
                            background: #183064
                            border: 1px solid #fff
    .footer-wrapper
        .nav-footer
            margin-top: 0
            li
                margin: 0
                a
                    &:hover
                        border-bottom: 1px solid #fff
