<?xml version="1.0" encoding="utf-8" ?>
<templates>
  <position>
    <add name="Sản phẩm đã xem" value="0" resourcefile="" />
  </position>
  
  <!-- <showoption name="Mới" value="1" class="promotion op1" />
  <showoption name="Khuyến mãi" value="2" class="promotion op2" /> -->

  <templatelist xsltname="ProductList.xslt" name="Product list"/>

  <templatedetail xsltname="ProductDetail.xslt" name="Product detail" />
</templates>