<?xml version="1.0" encoding="utf-8" ?>
<settings>

    <!--value bắt buộc phải là giá trị binary. Ví dụ: 1; 2; 4; 8; 16;...-->
    <position>
      <add name="Menu top" value="1" resourcefile="" />
      <add name="Main Menu" value="2" resourcefile="" />
      <add name="Footer Lkn" value="4" resourcefile="" />
      <add name="Home giới thiệu" value="8" resourcefile="" />
      <add name="Home sản phẩm" value="16" resourcefile="" />
      <add name="Home giải pháp" value="32" resourcefile="" />
      <add name="Home đối tác" value="64" resourcefile="" />
    </position>

</settings>